{% extends 'base.html' %}

{% block content %}

{% if usid == null%}
<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container">
    <h2>Please Login or Register</h2>
    <p>To access.</p>
    </div>
</div>
{% endif %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        {% load static %}
        <img src="{% static 'h/1.jpg' %}" class="d-block w-100" style="width: 400px; height:500px;" alt="1">
    </div>
    <div class="carousel-item">
        {% load static %}
        <img src="{% static 'h/2.jpg' %}" class="d-block w-100" style="width: 400px; height:500px;" alt="2">
    </div>
    <div class="carousel-item">
        {% load static %}
        <img src="{% static 'h/3.jpg' %}" class="d-block w-100" style="width: 400px; height:500px;" alt="3">
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>

<hr>
<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
        <div class="p-5">
            {% load static %}
            <img class="img-fluid rounded-circle" src="{% static 'h/a.jpg' %}" alt="c">
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
        <h2 class="display-4"> BOOKS THAT SPEAK TO YOU </h2>
        <p>
            Welcome to Audiobook Home of the world’s largest selection of over 200,000 audiobooks, audio shows, and original series. 
            With Audiobook you can stream or download your books to listen at Anywhere. </p>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6">
        <div class="p-5">
            {% load static %}
            <img class="img-fluid rounded-circle" src="{% static 'h/b.jpg' %}" alt="b">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="p-5">
        <h2 class="display-4">Here’s What Experts Say</h2>
        <p>If you’re wondering why printed books may be better than screen-based reading, it may have to do with your inability to gauge where you are in an electronic book.
            “As you’re reading a narrative, the sequence of events is important, 
            and knowing where you are in a book helps you build that arc of narrative,” says Daniel Willingham</p>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
        <div class="p-5">
            {% load static %}
            <img class="img-fluid rounded-circle" src="{% static 'h/c.jpg' %}" alt="a">
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
        <h2 class="display-4">The Benefits of Audiobooks</h2>
        <p> According to Study - </p>
        <p>Listening to storytelling – 26%</p>
        <p>Accessibility / Time Saving – 26%</p>
        <p>Mental Fitness / Building Concentration – 16%</p>
        <p>Consumption of Knowledge – 13%</p>
        <p>Save space – 3%</p>
        <p>Fall in love with books again – 3%</p>
        <p>Shared Experiences with Children & Family – 3%</p>
        <p>Relaxation & Sleep, Longevity & Learning English – 10 %</p>
        </div>
    </div>
    </div>
</div>

<br><br><br><br><br><br><br><br>

{% endblock %}